<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/style.css">

    </head>
    <body>
        <%- include('partials/nav.ejs') %>

        <h1>Thankyou for submitting the form </h1>
        <p>you have submitted the form in this  <%= data.name %> name  form <%= data.department  %> </p>
        
    </body>
</html>